@using MvcWepApp2.Models;
@model ProfileTeacherDTO
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="margin-top:50px;">

    <div class="col-md-4">

        <table class="table table-striped">
            <tr>
                <td><b>Ad Soyad</b></td>
                <td>:</td>
                <td>@Model.Ogretmen.Adi @Model.Ogretmen.Soyadi</td>
            </tr>
            <tr>
                <td><b>Öğrenci Kodu</b></td>
                <td>:</td>
                <td>@Model.Ogretmen.Code</td>
            </tr>
            <tr>
                <td><b>Eğitim Sınıfı</b></td>
                <td>:</td>
                <td>@Model.Ogretmen._Sinif.Adi <i onclick="DuzenleMenusuGoster()" class="fa fa-pencil-square"></i></td>
            </tr>
            <tr class="hidden" id="duzenleMenusu">
                <td><b>Yeni Sınıf Seçiniz</b></td>
                <td>:</td>
                <td>
                    @using (Html.BeginForm("OgretmenDuzenle", "Profile", FormMethod.Post))
                    {
                        <input name="Id" value="@Convert.ToInt32(Request.QueryString["Id"])" class="hidden" />
                        <select class="form-control" name="sinifId">
                            <option value="0" selected></option>
                            @foreach (Sinif _sinif in Model.Siniflar)
                            {
                                <option value="@_sinif.Id">@_sinif.Adi</option>
                            }


                        </select>
                        <button class="btn btn-sm btn-primary">Kaydet</button>
                    }

                </td>
            </tr>
        </table>

    </div>

</div>
<script type="text/javascript">

    function DuzenleMenusuGoster() {
        $("#duzenleMenusu").removeClass("hidden");
    }

</script>


