<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoklama Sistemi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="Home/Index" class="navbar-brand">Yoklama Sistemi</a>
            </div>
            @if (Session["Yetki"] != null && Session["Yetki"].ToString() == "Yonetici")
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Anasayfa</a></li>
                        <li><a href="/Class/Index">Sınıflar</a></li>
                        <li><a href="/Student/Index">Öğrenciler</a></li>
                        <li><a href="/Teacher/Index">Eğitmenler</a></li>
                    </ul>
                </div>

            }

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <hr />
    <div class="col-12">

        <footer>
            <p id="tarihSaat">&copy; @DateTime.Now.Year - Yoklama Sistemi v1</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function Ajax(_url, _data, IsRefresh, _tableName = "") {
            $.ajax({
                url: _url,
                dataType: 'json',
                type: 'POST',
                data: _data,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (_tableName != "") {
                        var content = "";
                        $.each(data, function () {
                            content += "<tr>";
                            content += "<td>" + this["Adi"] + "</td>";
                            content += "<td>" + this["Soyad"] + "</td>";
                            content += "<td>" + this["No"] + "</td>";
                            content += "</tr>";
                        });
                        $("#" + _tableName).html(content);
                    }

                },
                complete: function () {
                    if (IsRefresh) {
                        window.location.reload();
                    }
                }
            });
        }

    </script>
</body>
</html>

